{% load staticfiles %}
<!DOCTYPE html>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/commander.css' %}">
<html lang="en">
<head>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet'  type='text/css'>
    <meta charset="UTF-8">
    <title>Hello Here</title>
</head>
<body>
<div class="page-header">
    <h1><a href="/shots">About The Project</a></h1>
</div>
    <p>The project is the implementation of a simple IoT stuff <br>
    Made by Rafi Taub & Nick Kuhlik</p>
</body>
</html>