{% load staticfiles %}
<!DOCTYPE html>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/commander.css' %}">
<html lang="en">
<head>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet'  type='text/css'>
    <meta charset="UTF-8">
    <title>Hello Here</title>
</head>
<body>
<div class="page-header">
    <a href="/shots" class="list_of_shots"><span class="glyphicon glyphicons-notes"></span></a>
    <h1><a href="/shots">About The Project</a></h1>
</div>
<div class="authors">
    <p>The project is the implementation of a simple IoT stuff <br>
    Made by Rafi Taub & Nick Kuhlik</p>
</div>
<div class="usage">
    site/ - this site.<br>
    site/admin - admin panel, don't touch it if you aren't nick or rafi.<br>
    site/shots/ - a chronological list of data recieved.<br>
    site/shots/map/ - a map of shots, centered around latest<br>
    site/shots/add/ - send a POST to add a new shot.<br>
</div>

</body>
</html>